

body{
    background-image: url('https://i.pinimg.com/originals/c8/21/e6/c821e6f6a409765d5b593ec84eb06cc8.jpg');
    background-size: cover;
}

#section-select{
    background-color: #0d3880;
    height: 250px;

  }
